@model FindAndBook.Web.Areas.Administration.Models.AllInformationViewModel
@{
    ViewBag.Title = "Administration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/tabs.css")
<div class="tabbable col-md-10 col-md-offset-1">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#places" data-toggle="tab">Places</a></li>
        <li><a href="#reviews" data-toggle="tab">Reviews</a></li>
        <li><a href="#users" data-toggle="tab">Users</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="places">
            <table class="table table-striped custab">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Manager</th>
                    <th>Address</th>
                    <th>Type</th>
                    <th>Contact</th>
                    <th>Average bill</th>
                    <th>Details</th>
                    <th>Weekday hours</th>
                    <th>Weekend hours</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                @foreach (var place in Model.Places)
                {
                    @Html.Hidden(@place.Id.ToString())
                    <tr>
                        <td>@place.Name</td>
                        <td>@place.Manager</td>
                        <td>@place.Address</td>
                        <td>@place.Type</td>
                        <td>@place.Contact</td>
                        <td>@place.AverageBill</td>
                        <td>@place.Details</td>
                        <td>@place.WeekdayHours</td>
                        <td>@place.WeekendHours</td>
                        
                        <td class="text-center">
                            @Ajax.ActionLink("Delete", "DeletePlace", new {id = @place.Id},
                                     new AjaxOptions
                                     {
                                         UpdateTargetId = "notification",
                                         InsertionMode = InsertionMode.Replace
                                     })
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="tab-pane" id="reviews">
            <table class="table table-striped custab">
                <thead>
                    <tr>
                        <th>Place</th>
                        <th>User</th>
                        <th>Message</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                @foreach (var review in Model.Reviews)
                {
                    <tr>
                        @Html.Hidden(@review.Id.ToString())   
                        <td>@review.PlaceName</td>
                        <td>@review.UserNames</td>
                        <td>@review.Message</td>
                        <td class="text-center">
                            @Ajax.ActionLink("Delete", "DeleteReview", new {id = @review.Id},
                                new AjaxOptions
                                {
                                    UpdateTargetId = "notification",
                                    InsertionMode = InsertionMode.Replace
                                })
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="tab-pane" id="users">
            <table class="table table-striped custab">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Phone number</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                @foreach (var userModel in Model.Users)
                {
                    <tr>
                        <td>@userModel.User.UserName</td>
                        <td>@userModel.User.FirstName</td>
                        <td>@userModel.User.LastName</td>
                        <td>@userModel.User.Email</td>
                        <td>@userModel.User.PhoneNumber</td>
                        <td class="text-center">
                            @if (!userModel.IsAdmin)
                            {
                                @Ajax.ActionLink("Make admin", "AddAdmin", new {id = @userModel.User.Id},
                                    new AjaxOptions
                                    {
                                        UpdateTargetId = "notification",
                                        InsertionMode = InsertionMode.Replace
                                    })
                            }
                            else
                            {
                                @Ajax.ActionLink("Remove admin", "RemoveAdmin", new { id = @userModel.User.Id },
                                    new AjaxOptions
                                    {
                                        UpdateTargetId = "notification",
                                        InsertionMode = InsertionMode.Replace
                                    })
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

