@model FindAndBook.Web.Models.Consumables.ConsumableViewModel

@using (Ajax.BeginForm("AddConsumable", new { id = Model.PlaceId, controller = "Consumables" }, new AjaxOptions
{
    UpdateTargetId = "current-menu",
    InsertionMode = InsertionMode.InsertAfter
}))
{
    @Html.HiddenFor(m => m.PlaceId)
    <div id="consumable-form">
        <div class="col-md-2">
            @Html.TextBoxFor(x => x.Name, new { placeholder = "Name", @class = "form-control" })
        </div>
        
        <div class="col-md-2">
            @Html.TextBoxFor(x => x.Type, new { placeholder = "Type", @class = "form-control" })
        </div>
        
        <div class="col-md-2">
            @Html.TextAreaFor(x => x.Ingredients, new { placeholder = "Ingredients", @class = "form-control" })
        </div>
        
        <div class="col-md-2">
            @Html.TextBoxFor(x => x.Quantity, new { placeholder = "Quantity", @class = "form-control" })
        </div>
        
        <div class="col-md-2">
            @Html.TextBoxFor(x => x.Price, new {placeholder = "Price", @class = "form-control"})
        </div>
       
        <div class="col-md-2">
            <input type="submit" value="Submit" class="btn btn-success" id="submit-consumable" />
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#submit-consumable').click(function () {
                $('#consumable-form').addClass('hidden');
            });
        });

    </script>
}

