@model FindAndBook.Web.Models.Consumables.ConsumableViewModel
<tr>
    <td>@Model.Name</td>
    <td>@Model.Type</td>
    <td>@Model.Ingredients</td>
    <td>@Model.Quantity gr</td>
    <td>@Model.Price lv</td>
</tr>