<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FindAndBook</title>
    <link rel="stylesheet" href="~/Content/navigation.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-default sidebar col-md-3" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><div>@Html.ActionLink("Home", "Index", "Home")<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></div></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> My Account <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
                        <ul class="dropdown-menu forAnimate" role="menu">
                            <li>@Html.ActionLink("View Profile", "Index", "Home")</li>
                            <li>@Html.ActionLink("Update Profile", "Index", "Home")</li>
                            <li>@Html.ActionLink("Add new place", "Index", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Places <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th"></span></a>
                        <ul class="dropdown-menu forAnimate" role="menu">
                            <li>@Html.ActionLink("Restaurants", "Index", "Home")</li>
                            <li>@Html.ActionLink("Clubs", "Index", "Home")</li>
                        </ul>
                    </li>
                    <li><div>@Html.ActionLink("Login", "Login", "Account")<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-log-in"></span></div></li>
                    <li><a href="#">Sign up<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
                    <li><a href="#">Logout<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-log-out"></span></a></li>
                    <li><a href="#">Administration<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="col-md-9 body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
