@model FindAndBook.Web.Models.Search.SearchViewModel
@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/home.css")
<div class="container">
    <div class="row text-center">
        <h2>Find your favourite place, book it and enjoy!</h2>
        <br />
        <br />
        <br />
    </div>
    @using (Html.BeginForm("Search", "Search"))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="input-group-btn">
                <div class="row">
                    <div class="input-group col-md-10 col-md-offset-1">
                        @Html.DropDownListFor(x => x.Category, @Model.CategoryOptions, new { @class = "form-control col-md-3" })
                        @Html.DropDownListFor(x => x.SearchBy, @Model.SearchByOptions, new {@class = "form-control col-md-3"})
                        @Html.EditorFor(x => x.Pattern, new { htmlAttributes = new { @class = "input form-control col-md-3", placeholder = "Enter pattern..." } })
                        <button type="submit" class="btn btn-success col-md-1"><span class="glyphicon glyphicon-search"></span> Go</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>