
@{
    ViewBag.Title = "Categories";
}
@Styles.Render("~/Content/categories.css")
<section class="wrapper">
    <h2>
        <span >
                Discover places by type
        </span>
    </h2>
    <ul id="categories">
        <li>
                <img src="https://b.zmtcdn.com/images/search_tokens/app_icons/category_8.png" data-original="https://b.zmtcdn.com/images/search_tokens/app_icons/category_8.png">
                @Ajax.ActionLink("Breakfast", "GetPlacesByCategory", new { category = "Restaurant"}, new AjaxOptions
                {
                    UpdateTargetId = "places",
                    InsertionMode = InsertionMode.Replace,
                })
        </li>
        <li>
                <img src="https://b.zmtcdn.com/images/search_tokens/app_icons/category_9.png" data-original="https://b.zmtcdn.com/images/search_tokens/app_icons/category_9.png">
                @Ajax.ActionLink("Lunch", "GetPlacesByCategory", new { category = "Restaurant"}, new AjaxOptions
                {
                    UpdateTargetId = "places",
                    InsertionMode = InsertionMode.Replace,
                })
        </li>
        <li>
                <img src="https://b.zmtcdn.com/images/search_tokens/app_icons/category_10.png" data-original="https://b.zmtcdn.com/images/search_tokens/app_icons/category_10.png">
            @Ajax.ActionLink("Dinner", "GetPlacesByCategory", new { category = "Restaurant"}, new AjaxOptions
            {
                UpdateTargetId = "places",
                InsertionMode = InsertionMode.Replace,
            })
        </li>
        <li>
                <img src="https://b.zmtcdn.com/images/search_tokens/app_icons/category_3.png" data-original="https://b.zmtcdn.com/images/search_tokens/app_icons/category_3.png">
                @Ajax.ActionLink("Nightlife", "GetPlacesByCategory", new { category = "Club"}, new AjaxOptions
                {
                    UpdateTargetId = "places",
                    InsertionMode = InsertionMode.Replace,
                })
        </li>
        <li>
                <img src="https://b.zmtcdn.com/images/search_tokens/app_icons/category_6.png" data-original="https://b.zmtcdn.com/images/search_tokens/app_icons/category_6.png">
                @Ajax.ActionLink("Cafe", "GetPlacesByCategory", new { category = "Cafe"}, new AjaxOptions
                {
                    UpdateTargetId = "places",
                    InsertionMode = InsertionMode.Replace,
                })
        </li>
    </ul>
</section>
<section>
    <div class="container" id="places">
        
    </div>
</section>


