@model ICollection<FindAndBook.Models.Place>
@Styles.Render("~/Content/bookings.css")
@{
    ViewBag.Title = "My places";
}
<div class="container">
    <div class="row col-md-12 custyle">
        <table class="table table-striped custab">
            <thead>
            <tr>
                <th>Name of place</th>
                <th>Type</th>
                <th>Address</th>
                <th>Contact</th>
                <th>Average Bill</th>
                <th>Weekday hours</th>
                <th>Weekend hours</th>
                <th>Details</th>
                <th>Photo</th>
                <th class="text-center">Action</th>
            </tr>
            </thead>
            @foreach (var place in @Model)
            {
                <tr>
                    <td>@Html.ActionLink(@place.Name, "Details", "Places", new { id = @place.Id }, null)</td>
                    <td>@place.Type</td>
                    <td>@place.Address.Country, @place.Address.City, @place.Address.Area, @place.Address.Street @place.Address.Number</td>
                    <td>@place.Contact</td>
                    <td>@place.AverageBill</td>
                    <td>@place.WeekdayHours</td>
                    <td>@place.WeekendHours</td>
                    <td>@place.Details</td>
                    <td><img src="@place.PhotoUrl" alt="photo" /></td>
                    <td class="text-center">
                        @Html.ActionLink("Edit", "Edit", new { controller="Places", id=@place.Id}, new { @class="btn btn-warning btn-xs"})
                        @Html.ActionLink("Add menu", "Create", new { controller = "Consumables", id = @place.Id }, new { @class = "btn btn-warning btn-xs" })
                        @Ajax.ActionLink("Bookings", "GetBookings", new
                        {
                            controller = "Bookings",
                            id = @place.Id

                        }, new AjaxOptions
                        {
                            UpdateTargetId = "bookings",
                            InsertionMode = InsertionMode.Replace,
                        },
                            new {@class = "btn btn-info btn-xs"})

                    </td>
                </tr>
            }
        </table>
        <div id="bookings"></div>
    </div>
</div>
